body{
	background: #1162ac; /*fallback for old browsers*/
	background: -webkit-linear-gradient(200px top, ellipse, white, #1162ac, black);
	background: -webkit-linear-gradient(200px top, ellipse, white, #1162ac, black);
}

#contenedor{
	display: none;
}

.error{
	color: red;
}

.whisper{
	color: grey;
	font-size: italic;
	display: inline;
}